html  {
    height: 100%;
}

body * {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    flex: 0 1 650px;
}

#canvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    aspect-ratio: 1;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
}

#controls {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #00c0ff, #0099cc);
}

#canvasControls, #drawControls {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    font-size: 18px;
}

label {
    padding: 10px;
    border: 1px solid #ffffff;
    color: #000000;
    
}

#canvasWidth, select {
    display: block;
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    overflow: visible;
}

select {
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #006080;
    color: #ffffff;
}

#clearCanvas {
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    background-color: #c03000;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

#clearCanvas:hover {
    background-color: #802000;
    cursor: pointer;
}

#canvasColor, #drawColor, #showGrid {
    margin-left: 10px;
    border: none;
    background: none;
}