body * {
    font-family: 'Trebuchet MS';
}

body {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex: 0 1 700px;
    flex-direction: column;
    gap: 20px;
}

#canvas {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    aspect-ratio: 1;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
}

#controls {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
}

#canvasControls, #drawControls {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#canvasColor, #drawColor {
    margin-left: 20px;
}